In [1]:
import pandas as pd

In [2]:
numbers = [10, 5, 6, 6, 4, 3, 1, 0, 0, 1]
labels = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'F']

data1 = pd.Series(numbers, index=labels)
data1

A     10
A-     5
B+     6
B      6
B-     4
C+     3
C      1
C-     0
D      0
F      1
dtype: int64

- How many entries are there in `data1`
- What are the values?
- What is the index of the series `data1`?
- What is the value associated with `A`?
- Extract the subseries of values associated with grades of C and lower
- Convert `data1` to a dictionary

In [3]:
#work here

Assuming `data` is about students taking the course `MIST5730`, and the data below is about students taking the course `MIST6380`

In [4]:
grades = {'A': 8, 'A-': 9, 'B+': 13, 'B': 2, 'B-': 4, 'C+': 2, 'C': 0, 'C-': 0, 'D': 0, 'F': 0}


- create another series `data2` containing the data in the dictionary `grades`
- create a data frame containing the data of the two courses. The first column should be labeled `MIST5730` and the second columns should be `MIST6380`
- What is the index of the data frame?
- What are the columns of the data frame?
- How many entries are there in the data frame?
- Extract the data pertaining to `MIST6380` from the data frame. Ensure it is the same data as `data2`

In [5]:
#work here