In [2]:
import pandas as pd

In [3]:
numbers = [10, 5, 6, 6, 4, 3, 1, 0, 0, 1]
labels = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'F']

data1 = pd.Series(numbers, index=labels)
data1

A     10
A-     5
B+     6
B      6
B-     4
C+     3
C      1
C-     0
D      0
F      1
dtype: int64

- How many entries are there in `data1`
- What are the values?
- What is the index of the series `data1`?
- What is the value associated with `A`?
- Extract the subseries of values associated with grades of C and lower
- Convert `data1` to a dictionary

In [4]:
#work here
test_1 = len(data1)
test_1

10

In [5]:
test_2 = data1.values
test_2

array([10,  5,  6,  6,  4,  3,  1,  0,  0,  1])

In [6]:
test_3 = data1.index
test_3

Index(['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'F'], dtype='object')

In [7]:
test_4 = data1['A']
test_4

10

In [8]:
test_5 = data1['C':]
test_5

C     1
C-    0
D     0
F     1
dtype: int64

In [9]:
test_6 = data1.to_dict()
test_6

{'A': 10,
 'A-': 5,
 'B+': 6,
 'B': 6,
 'B-': 4,
 'C+': 3,
 'C': 1,
 'C-': 0,
 'D': 0,
 'F': 1}

Assuming `data` is about students taking the course `MIST5730`, and the data below is about students taking the course `MIST6380`

In [10]:
grades = {'A': 8, 'A-': 9, 'B+': 13, 'B': 2, 'B-': 4, 'C+': 2, 'C': 0, 'C-': 0, 'D': 0, 'F': 0}


- create another series `data2` containing the data in the dictionary `grades`
- create a data frame containing the data of the two courses. The first column should be labeled `MIST5730` and the second columns should be `MIST6380`
- What is the index of the data frame?
- What are the columns of the data frame?
- How many entries are there in the data frame?
- Extract the data pertaining to `MIST6380` from the data frame. Ensure it is the same data as `data2`

In [11]:
#work here
data2 = pd.Series(grades)
test_7 = data2
test_7

A      8
A-     9
B+    13
B      2
B-     4
C+     2
C      0
C-     0
D      0
F      0
dtype: int64

In [14]:
data = pd.DataFrame({'MIST5730':data1, 'MIST6380':data2})
test_8 = data
test_8

    MIST5730  MIST6380
A         10         8
A-         5         9
B+         6        13
B          6         2
B-         4         4
C+         3         2
C          1         0
C-         0         0
D          0         0
F          1         0

In [15]:
test_9 = data.index
test_9

Index(['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'F'], dtype='object')

In [16]:
test_10 = data.columns
test_10

Index(['MIST5730', 'MIST6380'], dtype='object')

In [18]:
test_11 = data.shape
test_11

(10, 2)

In [19]:
test_12 = data['MIST6380']
test_12

A      8
A-     9
B+    13
B      2
B-     4
C+     2
C      0
C-     0
D      0
F      0
Name: MIST6380, dtype: int64