In [1]:
import pandas as pd
import numpy as np

The file `eastmank.xlsx` contains the actual revenue, consumer price index, and real revenue
of the Eastman Kodak company from 1975 to 1992

In [11]:
data = pd.read_excel('data/eastmank.xlsx')
data.head()

   Year  Coded Year  Act-Revenue  CPI-U  Real-Revenue
0  1975           0          5.0   53.8           9.3
1  1976           1          5.4   56.9           9.5
2  1977           2          6.0   60.6           9.9
3  1978           3          7.0   65.2          10.7
4  1979           4          8.0   72.6          11.0

- The revenues are in million of dollars, multiply `Act-Revenue` and `Real-Revenue` by one million and assign back to the data frame
- Calculate the difference between `Real-Revenue` and `Act-Revenue`, create a new column `Opt-Expenses` in the data frame
- Report the average `Act-Revenue` and `Real-Revenue` in a series
- Subtract the mean of `Act-Revenue` and `Real-Revenue` from the values of `Act-Revenue` and `Real-Revenue`
- In which years did the company have above than average `Act-Revenue`? Return the results in a sorted list
- In which years did the company have above than average `Real-Revenue`? Return the results in a sorted list
-  In which years did the company have above than average `Real-Revenue` but below average `Real-Revenue`? Return the results in a sorted list

In [13]:
data['Act-Revenue'] = data['Act-Revenue'] * 1e6
data['Real-Revenue'] = data['Real-Revenue'] * 1e6

In [15]:
data['Opt-Expenses'] = data['Real-Revenue'] - data['Act-Revenue']

In [17]:
np.mean(data[['Act-Revenue', 'Real-Revenue']]) #or data[['Act-Revenue', 'Real-Revenue']].mean()

Act-Revenue     1.244545e+07
Real-Revenue    1.137727e+07
dtype: float64

In [19]:
m_data = data[['Act-Revenue', 'Real-Revenue']].mean()

In [23]:
data[['Act-Revenue', 'Real-Revenue']] = data[['Act-Revenue', 'Real-Revenue']] - m_data

In [27]:
sorted(data.loc[data['Act-Revenue'] > 0, 'Year'])

[1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996]

In [28]:
sorted(data.loc[data['Real-Revenue'] > 0, 'Year'])

[1980, 1987, 1988, 1989, 1990, 1991, 1992]

In [29]:
sorted(set(data.loc[data['Real-Revenue'] > 0, 'Year']) - set(data.loc[data['Act-Revenue'] > 0, 'Year']))

[1980]