In [1]:
import pandas as pd

In [6]:
data=pd.read_csv('data/course_eval.csv')
data.head()

  Instructor    Course Semester  Year  Evaluation
0     Safadi  MIST4610     Fall  2019           5
1      Aguar  MIST6380   Spring  2018           4
2     Safadi  MIST5730   Summer  2018           3
3   Boudreau  MIST4610     Fall  2018           4
4     Safadi  MIST4610   Summer  2017           3

The data frame contains MIS instructor course evaluation for several courses over different semesters/years.

**NOTE** This is a simulated data. The course evaluation numbers are not real!

Answer the following questions without using masking!

- What is the average evaluation of your favorite instructor, `Safadi`?
- What are the courses taught in Summer 2020?
- What are the courses taught in Summer of 2019 and 2020?
- What are the courses taught in Summer of years 2018 to 2020?
- What is the average course evaluation of each instructor?