In [1]:
import pandas as pd

In [6]:
data=pd.read_csv('data/course_eval.csv')
data.head()

  Instructor    Course Semester  Year  Evaluation
0     Safadi  MIST4610     Fall  2019           5
1      Aguar  MIST6380   Spring  2018           4
2     Safadi  MIST5730   Summer  2018           3
3   Boudreau  MIST4610     Fall  2018           4
4     Safadi  MIST4610   Summer  2017           3

The data frame contains MIS instructor course evaluation for several courses over different semesters/years.

**NOTE** This is a simulated data. The course evaluation numbers are not real!

Answer the following questions without using masking!

- What is the average evaluation of your favorite instructor, `Safadi`?
- What are the courses taught in Summer 2020?
- What are the courses taught in Summer of 2019 and 2020?
- What are the courses taught in Summer of years 2018 to 2020?
- What is the average course evaluation of each instructor?

In [9]:
data.set_index('Instructor').loc['Safadi', 'Evaluation'].mean()

2.739130434782609

In [17]:
data.set_index(['Semester', 'Year']).loc[ ('Summer', 2020) , 'Course']

Semester  Year
Summer    2020    MIST4600
          2020    MIST6380
          2020    MIST4610
          2020    MIST5730
          2020    MIST6380
Name: Course, dtype: object

In [18]:
data.set_index(['Semester', 'Year']).loc[ ('Summer', [2019, 2020]) , 'Course']

Semester  Year
Summer    2020    MIST4600
          2020    MIST6380
          2019    MIST4600
          2019    MIST6380
          2020    MIST4610
          2020    MIST5730
          2020    MIST6380
Name: Course, dtype: object

In [20]:
# data.set_index(['Semester', 'Year']).loc[ ('Summer', 2018:2020) , 'Course'] #invalid syntax, use idx

In [21]:
idx = pd.IndexSlice

In [24]:
# data.set_index(['Semester', 'Year']).loc[ idx['Summer', 2018:2020] , 'Course'] #need to sort the multi-index to slice

In [25]:
data.set_index(['Semester', 'Year']).sort_index().loc[ idx['Summer', 2018:2020] , 'Course']

Semester  Year
Summer    2018    MIST5730
          2018    MIST4600
          2018    MIST4610
          2018    MIST6380
          2018    MIST4600
          2018    MIST4610
          2018    MIST4600
          2018    MIST5730
          2019    MIST4600
          2019    MIST6380
          2020    MIST4600
          2020    MIST6380
          2020    MIST4610
          2020    MIST5730
          2020    MIST6380
Name: Course, dtype: object

In [35]:
data.set_index(['Instructor', 'Course', 'Semester'])['Evaluation'].mean(level='Instructor')

Instructor
Safadi        2.739130
Aguar         2.909091
Boudreau      3.411765
Srinivasan    3.375000
Name: Evaluation, dtype: float64