In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/course_eval.csv')
data.head()

  Instructor    Course Semester  Year  Evaluation
0     Safadi  MIST4610     Fall  2019           5
1      Aguar  MIST6380   Spring  2018           4
2     Safadi  MIST5730   Summer  2018           3
3   Boudreau  MIST4610     Fall  2018           4
4     Safadi  MIST4610   Summer  2017           3

In [3]:
midrow = len(data.index) // 2
midcol = len(data.columns) // 2

`data` is broken to two data frames `first_half` and `second_half`.
Reassemble the data from the two data frames

In [4]:
first_half = data.iloc[:midrow, :]
second_half = data.iloc[midrow:, :]

`data` is broken to two data frames `first_half` and `second_half`.
Reassemble the data from the two data frames

In [5]:
first_half = data.iloc[:, :midcol]
second_half = data.iloc[:, midcol:]

`data` is broken to four data frames `data1`, `data2`, `data3`, and `data4`.
Reassemble the data from the four data frames

In [6]:
data1 = data.iloc[:midrow, :midcol]
data2 = data.iloc[midrow:, :midcol]
data3 = data.iloc[:midrow, midcol:]
data4 = data.iloc[midrow:, midcol:]