In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/course_eval.csv')
data.head()

  Instructor    Course Semester  Year  Evaluation
0     Safadi  MIST4610     Fall  2019           5
1      Aguar  MIST6380   Spring  2018           4
2     Safadi  MIST5730   Summer  2018           3
3   Boudreau  MIST4610     Fall  2018           4
4     Safadi  MIST4610   Summer  2017           3

The data frame contains MIS instructor course evaluation for several courses over different semesters/years.

**NOTE** This is a simulated data. The course evaluation numbers are not real!

- How many courses did each instructor teach?
- What is the average course evaluation per instructor?
- Report the minimum, median, and maximum evaluation of `Safadi`
- Report the average evaluation per semester and year.
- Format the previous result in a data frame where rows are semesters and years are columns.
- Transform evaluation by subtracting the average evaluation per course (de-mean evaluation per course).
- Filter the data to keep entries in which `Evaluation` is larger than the average evaluation
- Filter the data to keep entries in which `Evaluation` is larger than the average evaluation per `Course`