In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import xml.etree.ElementTree as ET

Given the web page https://www.sicemdawgs.com/uga-baseball-roster/

- Extract in a series the names and positions of UGA Baseball Coaches
- Extract in a a data frame the game schedule table

In [4]:
r = requests.get('https://www.sicemdawgs.com/uga-baseball-roster/')
r.status_code

200

In [5]:
soup = BeautifulSoup(r.text)

In [13]:
marker = soup.find('h2', text="UGA Baseball Coaches")
bullet_list = marker.find_next('ul')
bullets = bullet_list.find_all('li')

In [24]:
def extract_bullet(bullet):
    comps = bullet.text.split('â€“')
    name = comps[0].strip()
    position = comps[1].strip()
    return name, position

In [25]:
data = [extract_bullet(bullet) for bullet in bullets]
data

[('Scott Stricklin', 'Ike Cousins Head Baseball Coach'),
 ('Scott Daeley', 'Associate Head Coach/Recruiting Coordinator'),
 ('Sean Kenny', 'Assistant Coach/Pitching'),
 ('Brock Bennett', 'Volunteer Coach'),
 ('Jeff Guy', 'Director of Baseball Operations'),
 ('Ryan Gearhart', 'Strength & Conditioning'),
 ('Sean Boland', 'Senior Associate Athletic Trainer'),
 ('Tatum Hodge', 'Coordinator for Athletic Operations for Baseball')]

In [28]:
pd.Series(dict(data))

Scott Stricklin                     Ike Cousins Head Baseball Coach
Scott Daeley            Associate Head Coach/Recruiting Coordinator
Sean Kenny                                 Assistant Coach/Pitching
Brock Bennett                                       Volunteer Coach
Jeff Guy                            Director of Baseball Operations
Ryan Gearhart                               Strength & Conditioning
Sean Boland                       Senior Associate Athletic Trainer
Tatum Hodge        Coordinator for Athletic Operations for Baseball
dtype: object

In [34]:
tables = pd.read_html('https://www.sicemdawgs.com/uga-baseball-roster/', header=0)
table = tables[0]
table.head()

,No.,Name,Pos.,Cl.,Ht.,Wt.,Hometown (Last School)
0,44,Ben Anderson,OF,RSo.,6-1,171,"LaGrange, GA (LaGrange)"
1,24,Garrett Blaylock,INF,Jr.,6-3,206,"Asheville, NC (T.C. Roberson)"
2,28,Tucker Bradley,OF/LHP,RJr.,6-0,206,"Chickamauga, GA (Gordon Lee)"
3,34,Garrett Brown,RHP,RFr.,6-7,209,"Manchester, GA (Manchester)"
4,12,Jonathan Cannon,RHP/1B,Fr.,6-6,207,"Alpharetta, GA (Centennial)"

In [36]:
table.dtypes

No.                        int64
Name                      object
Pos.                      object
Cl.                       object
Ht.                       object
Wt.                        int64
Hometown (Last School)    object
dtype: object

In [38]:
table.shape

(39, 7)