In [3]:
import pandas as pd
from sklearn.cluster import KMeans

In [5]:
data = pd.read_csv('data/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Using K-Means clustering, cluster the data into three clusters (dropping `species`)

1. Consider only `petal_length` and `petal_width`.
2. Do the clusters correspond to the true `species`.
3. What characterizes the clusters. Print cluster means and interpret the data
4. Consider all four attributes and compare your answer to above

In [10]:
X = data[['petal_length', 'petal_width']]
kmeans = KMeans(n_clusters=3)
kmeans.fit(X)
y_kmeans = kmeans.predict(X)
data['cluster1'] = y_kmeans
print(kmeans.cluster_centers_)
data.groupby(['species', 'cluster1']).petal_width.count().unstack()

[[1.462      0.246     ]
 [5.59583333 2.0375    ]
 [4.26923077 1.34230769]]

cluster1       0     1     2
species
setosa      50.0   NaN   NaN
versicolor   NaN   2.0  48.0
virginica    NaN  46.0   4.0

In [11]:
X = data[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
kmeans = KMeans(n_clusters=3)
kmeans.fit(X)
y_kmeans = kmeans.predict(X)
data['cluster2'] = y_kmeans
kmeans.cluster_centers_
data.groupby(['species', 'cluster2']).petal_width.count().unstack()

cluster2       0     1     2
species
setosa       NaN  50.0   NaN
versicolor  48.0   NaN   2.0
virginica   14.0   NaN  36.0