In [3]:
import pandas as pd
from sklearn.cluster import KMeans

In [5]:
data = pd.read_csv('data/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Using K-Means clustering, cluster the data into three clusters (dropping `species`)

1. Consider only `petal_length` and `petal_width`.
2. Do the clusters correspond to the true `species`.
3. What characterizes the clusters. Print cluster means and interpret the data
4. Consider all four attributes and compare your answer to above