### Arrow Package

<p> Arrow is a python library that offers an approach to creating, formatting, and manipulating dates and times that is user-friendly. It implements and updates datetimes typpes, plugging gaps in functionality and provides module APIs that support different creation scenarios. Comparing to the built-in date and time tools, it makes much easier to create, manipulate, format and convert dates, times, and timestamps. Ultimately, it helps individuals work with dates and times with fewer imports and less code.

### Imports

In [1]:
!pip install -U arrow
import arrow

Requirement already up-to-date: arrow in c:\users\ragav\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.0 in c:\users\ragav\anaconda3\lib\site-packages (from arrow) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\ragav\anaconda3\lib\site-packages (from python-dateutil>=2.7.0->arrow) (1.15.0)

### UTC time 
<p> There is a need for a singular global time. This helps to reduce confusion when people are comparing time zones and daylight savings time. UTC stands for Universal Coordinated Time and is considered the primary time standard. UTC is especially important in aviation, weather forcating, flight plans, air traffic control, and maps. Unlike other datetime functions UTC remains the same even with changes in seasons.

In [2]:
utc = arrow.utcnow()
print(utc)

2021-04-28T21:14:54.326149+00:00

### Local Time 
<p> Local time is a time in a particular region or time zone.The local time is created with the now() method. The to() method is used to convert the local time into the UTC time.

In [3]:
now = arrow.now()
print(now)
print(now.to('UTC'))

2021-04-28T17:14:54.343095-04:00
2021-04-28T21:14:54.343095+00:00

### Parsing Time 
<p> The get() method is used to parse time.
<p> the arrow function also allows you to parse from a string

In [4]:
d1 = arrow.get('2021-04-27 17:01:03', 'YYYY-MM-DD HH:mm:ss')
print(d1)

2021-04-27T17:01:03+00:00

In [5]:
d2 = arrow.get('Im going to the beach in August 2023.', 'MMMM YYYY')
print(d2)

2023-08-01T00:00:00+00:00

In [6]:
d3 = arrow.get('Im going to the beach in 08-24-2019.', 'MM-DD-YYYY')
print(d3)

2019-08-24T00:00:00+00:00

### Get any datetime value by doing the following

In [7]:
example = arrow.utcnow()

In [8]:
example.year

2021

In [9]:
example.month

4

In [10]:
example.day

28

In [11]:
example.date()

datetime.date(2021, 4, 28)

In [12]:
example.time()

datetime.time(21, 14, 54, 420015)

### Extracting parts of a date

In [13]:
date = arrow.get('2021-04-27')
date.format('dddd')

'Tuesday'

### Formatting date and times

In [14]:
now = arrow.now()

date = now.format('MMMM D YYYY')
print("Date: {0}".format(date))

year = now.format('YYYY')
print("Year: {0}".format(year))

date_time = now.format('MM/DD/YYYY HH:mm:ss')
print("Date and time: {0}".format(date_time))

Date: April 28 2021
Year: 2021
Date and time: 04/28/2021 17:14:55

### Convert to different timezones

In [15]:
utc = arrow.utcnow()

In [16]:
utc.to('US/Eastern')

In [17]:
utc.to('US/Pacific')

In [18]:
utc.to('Asia/Hong_Kong')

In [19]:
d1 = arrow.get('2021-04-27 17:01:03')

In [20]:
d1.to('Asia/Hong_Kong')

### Shifting
<p> shift() method shifts time

In [21]:
present = arrow.now()

print(present)
print(present.shift(hours=-2).time()) #2 hours before present
print(present.shift(days=9).date()) #9 days after present
print(present.shift(years=-3).date()) #3 years before present
print(present.shift(minutes= -90).time()) #90 minutes before present

d1 = arrow.get('2021-04-27 17:01:03')

print(d1)
print(d1.shift(days = -5).date())

2021-04-28T17:15:01.935689-04:00
15:15:01.935689
2021-05-07
2018-04-28
15:45:01.935689
2021-04-27T17:01:03+00:00
2021-04-22

### Humanizing dates and times

In [22]:
present = arrow.utcnow()
future = arrow.utcnow().shift(days = -2)
print(present)
print(future)


print(present.humanize())
print(future.humanize())
print(future.humanize(present, only_distance=True))

2021-04-28T21:15:02.585662+00:00
2021-04-26T21:15:02.585662+00:00
just now
2 days ago
2 days

### Shifting and humanizing dates and times

In [23]:
present = arrow.utcnow()
past = present.shift(days = -4, hours = -6)
print(past.humanize(present, granularity="day"))
print(past.humanize(present, granularity=["day", "hour"]))

4 days ago
4 days and 6 hours ago

### Ranges and Spans

In [24]:
print(arrow.utcnow().span('hour'))

(<Arrow [2021-04-28T21:00:00+00:00]>, <Arrow [2021-04-28T21:59:59.999999+00:00]>)

In [25]:
print(arrow.utcnow().span('day'))

(<Arrow [2021-04-28T00:00:00+00:00]>, <Arrow [2021-04-28T23:59:59.999999+00:00]>)

In [26]:
now = arrow.now()
future = now.shift(days=12)
for each in arrow.Arrow.range('day',now,future):
    print(each.format('dddd'))

Wednesday
Thursday
Friday
Saturday
Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
Monday

## Example Problem

In [27]:
import pandas as pd
import arrow

In [28]:
flights  = pd.read_csv("flights_20_perc.csv.gz")

In [30]:
flights['Date'] = pd.to_datetime(flights[['YEAR', 'MONTH', 'DAY']], format='%Y%b%d')
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,Date
0,2015,10,14,3,UA,356,N494UA,11618,13930,1945,...,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-14
1,2015,1,27,2,MQ,3458,N671MQ,ORD,MLI,820,...,107.0,0,0,NaN,34.0,0.0,0.0,63.0,10.0,2015-01-27
2,2015,7,6,1,B6,1202,N535JB,FLL,JFK,1507,...,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-06
3,2015,6,13,6,DL,2529,N301DQ,ATL,CLE,2204,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-13
4,2015,6,6,6,WN,2560,N7729A,CLT,BWI,1325,...,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-06

### Questions
1. How long ago (year and month) and on what weekday was the first flight in the dataframe?
    
2. Create a new column that formats the date column (Month Day Year) and name it Formatted Date.

3. Given the phrase, "I can't believe I'm graduating May 13 2021.", extract the data as an arrow object.

In [31]:
weekday = arrow.get(flights['Date'].iloc[0])
weekday.humanize(granularity = ('year','month')), weekday.format('dddd')

('5 years and 6 months ago', 'Wednesday')

In [32]:
newdate = []
for i in flights['Date']:
    date = arrow.get(i)
    date = date.format('MMMM D YYYY')
    newdate.append(date)
flights["Formatted Date"] = newdate
flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,Date,Formatted Date
0,2015,10,14,3,UA,356,N494UA,11618,13930,1945,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-14,October 14 2015
1,2015,1,27,2,MQ,3458,N671MQ,ORD,MLI,820,...,0,0,NaN,34.0,0.0,0.0,63.0,10.0,2015-01-27,January 27 2015
2,2015,7,6,1,B6,1202,N535JB,FLL,JFK,1507,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-06,July 6 2015
3,2015,6,13,6,DL,2529,N301DQ,ATL,CLE,2204,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-13,June 13 2015
4,2015,6,6,6,WN,2560,N7729A,CLT,BWI,1325,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-06,June 6 2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163811,2015,2,25,3,WN,1872,N500WR,SAN,SMF,1415,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-25,February 25 2015
1163812,2015,8,26,3,UA,1416,N79402,EWR,DEN,1904,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-26,August 26 2015
1163813,2015,3,15,7,UA,363,N509UA,IAD,ORD,2230,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-15,March 15 2015
1163814,2015,6,12,5,B6,656,N348JB,MCO,SYR,1855,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-06-12,June 12 2015
1163815,2015,9,14,1,WN,105,N468WN,MDW,SFO,1525,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-14,September 14 2015

In [33]:
date = arrow.get("I can't believe I'm graduating May 13 2021.", "MMMM D YYYY")
print(date)

2021-05-13T00:00:00+00:00